<app-banner></app-banner>

<!-- Project Steps Start -->
<section class="bg-grey" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-3">
        <div class="service-img">
          <img src="../../../assets/images/blog-lg.jpg" alt="" class="img-fluid" />
        </div>
      </div>

      <div class="col-lg-6 pl-4">
        <div class="service-content">
          <h1>My Research Project Goal</h1>
          <p style="text-align: justify; padding-right: 10px">
            My goal is to design a system called “PetVet” that can diagnose feline and canine illnesses by
            using artificial intelligence and image processing. This system will be able to predict diseases
            and recommend suitable medicines and/or remedies to treat them. PetVet will reduce the
            number of vet visits and the pet owners will be able to easily get an idea about their pet’s
            health whenever they show signs of mental or physical distress or discomfort. But if the
            system fails to predict the correct disease, or needs emergency treatment, the AI model will
            suggest the owner seek further medical assistance from a veterinary surgeon. If it does not
            require any further checkups performed by a veterinary surgeon, the system will prescribe
            suitable medicines and give instructions on how to use them accordingly. PetVet will be very
            useful for pet owners as well as pets.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 service-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <div class="carousel slide" id="service-carousel" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>1. AI for Disease Detection.</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>
                          2. image Processing for Disease Detection.
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="service-block media">
                      <div class="service-icon">
                        <i class="ti-arrow-right"></i>
                      </div>
                      <div class="service-inner-content media-body">
                        <h4>3. Generating Prescriptions.</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Project Steps End -->
