<!-- HERO -->
<section class="banner-area py-7">
  <!-- Content -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 text-center text-lg-left">
        <div class="main-banner">
          <!-- Heading -->
          <h5 class="display-4 mb-4 font-weight-normal" style="font-size: 44px;">
            PetVet - Feline and Canine Diseases Prediction System
          </h5>

          <!-- Subheading -->
          <p class="lead mb-4" style="text-align: justify; padding-right: 10px">
            According to the National Pet Survey conducted by the American Pet Products Association (APPA), there are
            about 70% of US households (approximately 90.5 million families) own at least one pet. Not just in the US
            but many people around the world tend to own a pet. According to a Harris Poll done in 2015, more than 90%
            of pet owners treat their pets as a member of their family. As much as pets bring happiness to people’s
            lives, they may have downsides. New research has determined that people tend to get more depressed, anxious,
            or show signs of caregiving distress when their pets get sick. Many of them had pets who were suffering from
            a chronic or terminal disease.
          </p>

          <!-- Button -->
          <p class="mb-0">
            <a routerLink="/health-supporter" class="mx-2 btn btn-primary btn-circled">
              Diseases Prediction
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-5 d-none d-lg-block">
        <div class="banner-img-block">
          <img src="../../../assets/images/banner-img-5.png" alt="banner-img" class="img-fluid" />
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
